<a href="https://colab.research.google.com/github/shivanshu-reck/Codesoft-Projects/blob/main/Untitled7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [57]:
import pandas as pd

# Assuming you have loaded the data into ratings_df and movies_df
# Replace file paths with your actual file paths
ratings_df = pd.read_csv('/content/drive/MyDrive/Data Set/ratings.csv')
movies_df = pd.read_csv('/content/drive/MyDrive/Data Set/movies.csv')

# Step 1: Group user ratings based on movieId and calculate count and mean
grouped_ratings = ratings_df.groupby('movieId')['rating'].agg(['count', 'mean']).reset_index()

# Step 2: Inner join on dataframes
merged_df = pd.merge(movies_df, grouped_ratings, on='movieId', how='inner')

# Step 3: Filter only movies with more than 50 user ratings
filtered_df = merged_df[merged_df['count'] > 50]

# Step 4: Calculate average ratings for each movie
average_ratings = filtered_df.groupby('title')['mean'].mean().reset_index()

# Step 5: Identify the most popul
most_popular_movie = average_ratings.loc[average_ratings['mean'].idxmax()]

print("Most Popular Movie: {}".format(most_popular_movie['title']))

Most Popular Movie: Shawshank Redemption, The (1994)

In [58]:
# Assuming you have performed the mandatory operations and have the filtered_df dataframe

# Step 1: Sort the dataframe by the count of user ratings in descending order
sorted_df = filtered_df.sort_values(by='count', ascending=False)

# Step 2: Select the top 5 movies
top_5_movies = sorted_df.head(5)

# Display the top 5 movies
print("Top 5 Popular Movies Based on Number of User Ratings:")
print(top_5_movies[['title', 'count']])

Top 5 Popular Movies Based on Number of User Ratings:
                                 title  count
314                Forrest Gump (1994)    329
277   Shawshank Redemption, The (1994)    317
257                Pulp Fiction (1994)    307
510   Silence of the Lambs, The (1991)    279
1938                Matrix, The (1999)    278

In [59]:
# Assuming you have performed the mandatory operations and have the filtered_df dataframe

# Step 1: Filter the dataframe to include only Sci-Fi movies
sci_fi_df = filtered_df[filtered_df['genres'].str.contains('Sci-Fi', case=False)]

# Step 2: Sort the Sci-Fi dataframe by the count of user ratings in descending order
sorted_sci_fi_df = sci_fi_df.sort_values(by='count', ascending=False)

# Step 3: Select the third Sci-Fi movie
third_most_popular_sci_fi_movie = sorted_sci_fi_df.iloc[2]

# Display the third most popular Sci-Fi movie
print("Third Most Popular Sci-Fi Movie Based on Number of User Ratings:")
print(third_most_popular_sci_fi_movie[['title', 'count']])

Third Most Popular Sci-Fi Movie Based on Number of User Ratings:
title    Jurassic Park (1993)
count                     238
Name: 418, dtype: object

In [68]:
links_df = pd.read_csv('/content/drive/MyDrive/Data Set/links.csv')
movies_df = pd.read_csv('/content/drive/MyDrive/Data Set/movies.csv')
ratings_df = pd.read_csv('/content/drive/MyDrive/Data Set/ratings.csv')
tags_df = pd.read_csv('/content/drive/MyDrive/Data Set/tags.csv')

In [69]:
print(links_df.info())
print(movies_df.info())
print(ratings_df.info())
print(tags_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   imdbId   9742 non-null   int64
 2   tmdbId   9734 non-null   float64
dtypes: float64(1), int64(2)
memory usage: 228.5 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   title    9742 non-null   object
 2   genres   9742 non-null   object
dtypes: int64(1), object(2)
memory usage: 228.5+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3683 entries, 0 to 3682
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   userId     3683 non-null   int64
 1   movieId    3683 non-null   int64
 2   tag        3683 non-null   object
 3   timestamp  3683 non-null   int64
dtypes: int64(3), object(1)
memory usage: 115.2+ KB
None

In [71]:
import pandas as pd

# Load IMDb data
imdb_data = pd.read_csv("/content/drive/MyDrive/Data Set/links.csv")  # Replace with the actual path

# Find the row with the highest IMDb rating
max_rating_row = imdb_data.loc[imdb_data['imdbId'].idxmax()]

# Extract the 'movieId' from the row
movie_id_highest_rating = max_rating_row['movieId']

print("Movie ID with the highest IMDb rating:", movie_id_highest_rating)

Movie ID with the highest IMDb rating: 193587.0

In [73]:
import pandas as pd

# Assuming you have loaded the datasets into the following DataFrames:
# imdb_data: DataFrame containing IMDb data
# movies_data: DataFrame containing movies data

# Merge IMDb data with movies data on 'movieId'
merged_data = pd.merge(imdb_data, movies_df, on='movieId', how='inner')

# Filter Sci-Fi movies
sci_fi_movies = merged_data[merged_data['genres'].str.contains('Sci-Fi', case=False, na=False)]

# Find the row with the highest IMDb rating among Sci-Fi movies
max_rating_row_sci_fi = sci_fi_movies.loc[sci_fi_movies['imdbId'].idxmax()]

# Extract the 'movieId' from the row
movie_id_highest_rating_sci_fi = max_rating_row_sci_fi['movieId']

print("Movie ID of the Sci-Fi movie with the highest IMDb rating:", movie_id_highest_rating_sci_fi)

Movie ID of the Sci-Fi movie with the highest IMDb rating: 179053